# Minimum Requirements

## Basics
# numpy Installed via conda
Cython==3.0.10 # The Cython compiler for writing C extensions for the Python language.
tqdm==4.66.2 # Fast, Extensible Progress Meter
matplotlib==3.8.4 # Python plotting package
requests==2.31.0 # Python HTTP for Humans.
urllib3==2.2.1 # HTTP library with thread-safe connection pooling, file post, and more.
# requests can't use idna >3 yet
idna==3.7 # Internationalized Domain Names in Applications (IDNA)
pandas==2.2.2 # Powerful data structures for data analysis, time series, and statistics
attrs==23.2.0 # Classes Without Boilerplate
six==1.16.0 # Python 2 and 3 compatibility utilities
future==1.0.0 # Clean single-source support for Python 3 and 2
python-dateutil==2.9.0 # Extensions to the standard Python datetime module
PyYAML==6.0.1 # YAML parser and emitter for Python
joblib==1.4.0 # Lightweight pipelining: using Python functions as pipeline jobs.
Pillow==10.3.0 # Python Imaging Library (Fork)
pyzmq==25.1.2 # Python bindings for 0MQ
python-crontab==3.0.0 # Python Crontab API
cmake==3.29.1 # CMake is an open-source, cross-platform family of tools designed to build, test and package software
protobuf==5.26.1 # Protocol Buffers

## Utilities
httpie==3.2.2 # HTTPie - a CLI, cURL-like tool for humans.
cloudpickle==3.0.0  # Extended pickling support for Python objects
msgpack==1.0.8 # MessagePack (de)serializer.
cysignals==1.11.4 # Interrupt and signal handling for Cython
h5py==3.11.0 # Read and write HDF5 files from Python
seaborn==0.13.2 # Python visualization library based on matplotlib  - Basic
SQLAlchemy==2.0.29 # Database Abstraction Library
simplejson==3.19.2 # Simple, fast, extensible JSON encoder/decoder for Python
Pygments==2.17.2 # Pygments is a syntax highlighting package written in Python.
jsonschema==4.21.1 # An implementation of JSON Schema validation for Python
loguru==0.7.2 # Python logging made (stupidly) simple
click==8.1.7 # Composable command line interface toolkit
docutils==0.21.1 # Docutils -- Python Documentation Utilities
regex==2023.12.25 # Alternative regular expression module, to replace re.
toolz==0.12.1 # List processing tools and functional utilities
dill==0.3.8 # Serialize all of python
imageio==2.34.0 # Library for reading and writing a wide range of image, video, scientific, and volumetric data formats.
pyparsing==3.1.2 # Python parsing module
graphviz==0.20.3 # Simple Python interface for Graphviz
cffi==1.16.0 # Foreign Function Interface for Python calling C code.

# Development Helper
twine==5.0.0 # Collection of utilities for publishing packages on PyPI
tox==4.14.2 # tox is a generic virtualenv management and test command line tool
pipenv==2023.12.1 # Python Development Workflow for Humans.
poetry==1.8.2 # Python dependency management and packaging made easy
virtualenv==20.25.1 # Virtual Python Environment builder
pytest==8.1.1 # pytest: simple powerful testing with Python
autopep8==2.1.0 # A tool that automatically formats Python code to conform to the PEP 8 style guide
flake8==7.0.0 # The modular source code checker: pep8, pyflakes and co
black==24.3.0 # The uncompromising code formatter.
pylint==3.1.0 # python code static checker
pycodestyle==2.11.1 # Python style guide checker
pydocstyle==6.3.0 # Python docstring style checker
mock==5.1.0 # Rolling backport of unittest.mock for all Pythons
nox==2024.3.2 # Flexible test automation.
pip-tools==7.4.1 # pip-tools keeps your pinned dependencies fresh.
virtualenvwrapper==6.1.0 # Enhancements to virtualenv
isort==5.13.2 # A Python utility / library to sort Python imports.
jedi==0.19.1 # An autocompletion tool for Python that can be used for text editors.
pipreqs==0.5.0 # Pip requirements.txt generator based on imports in project
mypy==1.9.0 # Static type checker

# Web Frameworks
tornado==6.4 # Tornado is a Python web framework and asynchronous networking library, originally developed at FriendFeed.
Flask==3.0.3 # A simple framework for building complex web applications.
gunicorn==21.2.0 # WSGI HTTP Server for UNIX
uvicorn==0.29.0 # The lightning-fast ASGI server.

# ML libraries
tensorboard==2.16.2 # TensorBoard lets you watch Tensors Flow

## Glances
psutil==5.9.8 # Cross-platform lib for process and system monitoring in Python.
bottle==0.12.25 # Fast and simple WSGI-framework for small web-applications.
Glances==3.4.0.5 # A cross-platform curses-based monitoring tool
pymdstat==0.4.3 # Python library to parse Linux /proc/mdstat

## Jupyter
# Via conda: ipython notebook jupyterlab
ipykernel==6.29.4 # IPython Kernel for Jupyter
# The installed nbextensions method is incompatible with jupytext 1.16.x and needs to be downgraded to 1.15.X
jupytext==1.15.2 # Jupyter notebooks as Markdown documents, Julia, Python or R scripts
jupyter-resource-usage==1.0.2 # Simple Jupyter extension to show how much resources (RAM) your notebook is using
ipympl==0.9.3 # Matplotlib Jupyter Extension
jupyterhub==4.1.5 # JupyterHub: A multi-user server for Jupyter notebooks
remote_ikernel==0.4.6 # Running IPython kernels through batch queues
jupyter_contrib_nbextensions==0.7.0 # A collection of Jupyter nbextensions.
jupyter_nbextensions_configurator==0.6.3 # jupyter serverextension providing configuration interfaces for nbextensions.
# TODO: jupyter-tensorboard version has a bug and hence does not support tensorboard 2.3 - 2.4 currently -> installed later
nbdime==4.0.1 # Diff and merge of Jupyter Notebooks
